<section>
	<h4>{{titulo}}</h4>
	<img src='{{assetSrc imagen}}' alt='{{assetTitle imagen}}'>
	<ul>
		{{#each listadoBeneficios}}
			<div>{{{module this}}}</div>
		{{/each}}
	</ul>
	<a href={{enlace}}>{{textoEnlace}}</a>
</section>