<section class="experience">
  <div class="experience-container">
    <div class="experience-container__imagen">
	<img src='{{assetSrc imagen}}' alt='{{assetTitle imagen}}'>
    </div>
      <div class="experience-container__text">
          <h4>{{titulo}}</h4>
          <ul class="experience-container__text__proceeds">
            {{#each listadoBeneficios}}
              <div class="experience-container__text__module">{{{module this}}}</div>
            {{/each}}
          </ul>
          <a class="experience-container__text__purchase" href={{enlace}}>{{textoEnlace}}</a>
      </div>
  </div>
</section>
