<section id="experience">
  <div class="container-general">
    <div class="experience-imagen">
	<img src='{{assetSrc imagen}}' alt='{{assetTitle imagen}}'>
    </div>
      <div class="experience-text">
          <h4>{{titulo}}</h4>
          <ul class="proceeds">
            {{#each listadoBeneficios}}
              <div class="module">{{{module this}}}</div>
            {{/each}}
          </ul>
          <a class="purchase" href={{enlace}}>{{textoEnlace}}</a>
      </div>
  </div>
</section>
