<section class="beneficios">
	<img src='{{assetSrc imagen}}' alt='{{assetTitle imagen}}'>
	<div>
		<h4>{{titulo}}</h4>
		<ul class="listado">
			{{#each listadoBeneficios}}
			<div class="listado__beneficio">{{{module this}}}</div>
			{{/each}}
		</ul>
		<a href={{enlace}}>{{textoEnlace}}</a>
	</div>
</section>