{{#if redSocial}}
	<a href={{vinculoEnlace}}><img src='{{assetSrc imagenRedSocial}}' class="icono-red-social"/></a>
	{{else}}
	<a href={{vinculoEnlace}} target='_self' class="enlace">
		{{textoEnlace}}
	</a>
{{/if}}

