{{#if alinearALaIzquierda}}
<section class="tarjeta-servicio alinear-izquierda">
	{{else}}
<section class="tarjeta-servicio alinear-derecha">
	{{/if}}
	<img src="{{assetSrc imagen}}" alt="{{assetTitle imagen}}" />
	<div class="tarjeta-servicio--informacion">
		<h3 class="tarjeta-servicio--titulo">{{titulo}}</h3>
		{{#if descripcionServicio}}
			<div class="tarjeta-servicio--descripcion-servicio body">
				{{{richText descripcionServicio}}}
			</div>
		{{/if}}
		<p class="tarjeta-servicio--disclaimer body">{{disclaimer}}</p>
		<a class="tarjeta-servicio--enlace" href="{{enlace}}" target={{#if enlaceInterno}}'_self'{{else}}'_blank'{{/if}}>
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.800049 15.217L1.8359 11.3629C1.08368 9.99698 0.802361 8.42227 1.03527 6.8812C1.26818 5.34013 2.0024 3.91817 3.12487 2.83426C4.24735 1.75036 5.69584 1.0646 7.24731 0.882595C8.79879 0.700586 10.3672 1.03241 11.7111 1.82698C13.055 2.62155 14.0998 3.8348 14.6847 5.27993C15.2696 6.72506 15.3621 8.32193 14.948 9.82466C14.5339 11.3274 13.6361 12.6527 12.393 13.5964C11.1498 14.5402 9.63013 15.0501 8.06797 15.0476C6.88315 15.0494 5.71635 14.7583 4.67174 14.2005L0.800049 15.217ZM4.87551 12.7351L5.11324 12.8791C6.20906 13.5278 7.4892 13.7966 8.75415 13.6437C10.0191 13.4907 11.1978 12.9246 12.1065 12.0335C13.0153 11.1425 13.6031 9.97652 13.7782 8.71739C13.9534 7.45826 13.7061 6.17668 13.075 5.07239C12.4438 3.96809 11.4642 3.10311 10.2888 2.61226C9.11346 2.1214 7.80834 2.03225 6.57686 2.35868C5.34539 2.68511 4.25676 3.4088 3.48061 4.41695C2.70446 5.42511 2.2844 6.6611 2.2859 7.93231C2.28498 8.98835 2.57899 10.0238 3.13495 10.9224L3.27928 11.1681L2.70193 13.3196L4.87551 12.7351Z" fill="#212966"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M10.7169 8.89786C10.5746 8.78705 10.4094 8.70907 10.2332 8.66952C10.057 8.62998 9.87429 8.62985 9.69807 8.66915C9.43486 8.77927 9.26503 9.19433 9.09522 9.4061C9.05788 9.45583 9.00357 9.49019 8.94255 9.50267C8.88154 9.51516 8.81806 9.50491 8.7641 9.47386C7.79539 9.09535 6.98213 8.40331 6.45467 7.50869C6.40574 7.45555 6.37859 7.38602 6.37859 7.31386C6.37859 7.2417 6.40574 7.17218 6.45467 7.11904C6.6519 6.93307 6.79806 6.69976 6.87919 6.44139C6.90194 6.14684 6.83695 5.85216 6.6924 5.59433C6.54806 5.29786 6.39522 4.86586 6.09805 4.69645C5.95169 4.63323 5.79044 4.61241 5.63276 4.63638C5.47509 4.66035 5.32739 4.72813 5.20655 4.83198C5.0022 5.00706 4.84027 5.22606 4.73292 5.47253C4.62557 5.719 4.57559 5.98653 4.58673 6.25504C4.58632 6.40666 4.60631 6.55766 4.64617 6.70398C4.74065 7.05386 4.88658 7.38784 5.0792 7.69504C5.21627 7.93193 5.36651 8.16099 5.5292 8.38116C6.05796 9.10975 6.72419 9.72838 7.49052 10.2023C7.8746 10.4427 8.28477 10.6387 8.71316 10.7868C9.16051 10.9856 9.65292 11.0616 10.1396 11.007C10.4172 10.9663 10.6804 10.8576 10.9056 10.6905C11.1308 10.5235 11.311 10.3034 11.4301 10.0499C11.4985 9.89565 11.5192 9.72458 11.4896 9.55857C11.4471 9.28751 10.9971 9.06727 10.7169 8.89786Z" fill="#212966"/>
			</svg>
			{{textoEnlace}}
		</a>
	</div>
</section>
